.padding{
    padding: 1em;
}

.user-container img{
    max-width: 150px;
    max-height:150px;
    margin: auto;
    display: block;
    border-radius: 50%;
}

.user-form{
    background-color: lightskyblue;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}
.carousel-item {
    height: 32rem;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-caption{
    position: absolute;
    top: 50%;
}

.navbar-nav span{
    color: white;
}

.search_field{
    padding: 0.5em;
}

.fa-github{
    font-size: 5rem;
}

.icon-link{
    color: inherit;
}

.icon-link:hover{
    outline: none;
    color:inherit;
}

.lightblue{
    background-color: #00b4d8;
}

.profile-pic{
    width: 60%;
    height: 80%;
    border-radius: 50%;
    margin-top: 1.3em;
}

.center{
    margin: auto;
}

.bio{
    margin: auto;
}

.post-thumbnail{
    max-height: 460px;
    max-width: 460px;
}

.card{
    padding: 0.5em;
}

.card a{
    color: #00b4d8;
    font-weight: bold;
    font-size: 1.1em;
}

.post-image{
    max-width: 100%;
    max-height: 100%;
}
.date{
    font-size: 0.7em;
}

