{% extends "blog/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex flex-column align-items-center padding">
    {% if validlink %}
        <form method="POST">
          {% csrf_token %}
                <div class="p-1 bd-highlight user-form">
                    <div class="padding">
                        {{ form|crispy }}
                        <input  class="btn btn-success" type="submit" value="Change password">
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
{% endblock %}
