{% extends 'blog/base.html' %}

{% block content %}
    <div class="container-fluid padding">
        <h4 class="display-4 text-center"> About Us</h4>
        <p class="padding">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto asperiores aspernatur atque aut doloribus eveniet excepturi facilis fuga ipsum minus natus necessitatibus quasi quisquam rem, repellat reprehenderit rerum sequi similique sunt tempore temporibus vel velit veniam voluptatem! Est et in nemo neque quos ratione repellendus sequi? Beatae consectetur eius, fuga ipsam itaque iusto nihil obcaecati praesentium, quis sit voluptas voluptatum! Consectetur error impedit ipsa optio quos reiciendis! Amet architecto blanditiis consequuntur cum dolor dolores est fuga illo ipsam minima molestias nemo nostrum, placeat possimus provident quae quisquam reiciendis sint soluta sunt tenetur totam voluptatibus. Explicabo nam nisi quidem ullam.</p>
    </div>
{% endblock %}